body {
    padding-bottom: 20px;
    padding-top: 50px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
}

.flexbox a {
    align-items: center;
    background-color: #233;
    border: solid 1px #FA4;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    justify-content: center;
    justify-content: center;
    margin: 15px auto;
    width: 350px;
}

.flexbox a span {
    font-size: 1.4em;
}

.flexbox a img {
    display: block;
    margin: auto 10px;
    max-width: 250px;
}