body {
    padding-bottom: 20px;
    padding-top: 50px;
}

.flexbox {
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -o-justify-content: center;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
}

.flexbox a {
    -moz-flex-wrap: wrap;
    -ms-align-items: center;
    -ms-border-radius: 45px;
    -ms-flex-wrap: wrap;
    -o-align-items: center;
    -o-flex-wrap: wrap;
    -o-justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    align-items: center;
    background-color: #233;
    border: solid 1px #FA4;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    justify-content: center;
    margin: 15px auto;
    width: 350px;
}

.flexbox a span { font-size: 1.4em; }

.flexbox a img {
    display: block;
    margin: auto 10px;
    max-width: 250px;
}

.validation-summary-valid {
    display: none;
}
