@model BouchonUniversel.Models.ModelsView.IndexViewModel

@{
    ViewData["Title"] = "Configuration";
}

<h2>@ViewData["Title"]</h2>

@if (Model?.IsBouchonActivated != null)
{
    if (Model.IsBouchonActivated.Value)
    {
        <p class="alert-success">Le bouchon est activé.</p>
    }
    else
    {
        <p class="alert-warning">Le bouchon est désactivé.</p>
    }
}

<form asp-action="Index">
    <p class="help-block">Mode du bouchon > ON : bouchon activé / OFF : passe plat.</p>
    <p>
        <button type="submit" name="IsActivated" value="true">ON</button>
    </p>
    <p>
        <button type="submit" name="IsActivated" value="false">OFF</button>
    </p>
</form>
@*
    @if (Model != null)
    {
        <form asp-action="GetFile">
            <h2>Liste des fichiers de bouchon</h2>
            <ul class="list-group">
                @foreach (var item in Model.Files)
                {
                    <li class="list-group-item">
                        <button type="submit" name="fileSelected" class="btn btn-link" value="@item">@item</button>
                    </li>
                }
            </ul>
        </form>
    }
*@