@using System.IO
@using BouchonUniversel.Models.ModelsView
@using Microsoft.AspNetCore.Mvc.Razor
@model BouchonUniversel.Models.ModelsView.DirectoryBouchon

<ul style="list-style: none;">
    <li>
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span><span style="padding-left: 10px;">@Model.Name</span>
    </li>
    @if (Model.FileBouchons != null && Model.FileBouchons.Any())
    {
        <li>
            <ul style="list-style: none;">
                @Html.DisplayFor(bouchon => bouchon.FileBouchons)
            </ul>
        </li>
    }
    @if (Model.Directories != null && Model.Directories.Any())
    {
        <li>
            @Html.DisplayFor(bouchon => bouchon.Directories)
        </li>
    }
</ul>