@model BouchonUniversel.Models.ModelsView.DirectoryBouchon

<ul style="list-style: none;">
    <li>
        <i class="bi bi-folder2-open" aria-hidden="true"></i><span style="padding-left: 10px;">@(this.Model.Name)</span>
    </li>
    @if (this.Model.FileBouchons != null && this.Model.FileBouchons.Any())
    {
        <li>
            <ul style="list-style: none;">
                @(this.Html.DisplayFor(bouchon => bouchon.FileBouchons))
            </ul>
        </li>
    }
    @if (this.Model.Directories != null && this.Model.Directories.Any())
    {
        <li>
            @(this.Html.DisplayFor(bouchon => bouchon.Directories))
        </li>
    }
</ul>
