@using System.Web
@model BouchonUniversel.Models.ModelsView.FileBouchon

<li>
    <i class="bi bi-file-earmark-text" aria-hidden="true"></i>
    <a asp-controller="Services" asp-action="DownloadFile" asp-route-name="@(this.Model.FullName)">@HttpUtility.UrlDecode(this.Model.Name)</a>
    <a asp-controller="Services" asp-action="EditFile" asp-route-path="@(this.Model.FullName)" class="small">(éditer)</a>
</li>
