@using System.IO
@using System.Web
@using BouchonUniversel.Models.ModelsView
@using Microsoft.AspNetCore.Mvc.Razor
@model BouchonUniversel.Models.ModelsView.FileBouchon

<li>
    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
    <a asp-controller="Services" asp-action="DownloadFile" asp-route-name="@Model.FullName">@HttpUtility.UrlDecode(Model.Name)</a>
</li>