@model BouchonUniversel.Models.Bouchons.Bouchon

@{
    this.ViewData["Title"] = "Details";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bouchon</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @(this.Html.DisplayNameFor(model => model.IsEnabled))
        </dt>
        <dd>
            @(this.Html.DisplayFor(model => model.IsEnabled))
        </dd>
    </dl>
</div>
<div>
    @(this.Html.ActionLink("Edit", "Edit", new { this.Model.BaseUrl, this.Model.ServiceUrl })) |
    <a asp-action="Index">Back to List</a>
</div>
