@model BouchonUniversel.Models.Bouchons.Environnement

@{
    this.ViewData["Title"] = "Edit";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Environnement</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="mb-3">
                <label asp-for="Nom" class="form-label"></label>
                <input asp-for="Nom" class="form-control"/>
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsEnabled"/> @(this.Html.DisplayNameFor(model => model.IsEnabled))
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-secondary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await this.Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
