<nav class="nav flex-column">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All"><i class="bi bi-book"></i> Introduction</NavLink>
    <NavLink class="nav-link" href="installation"><i class="bi bi-download"></i> Installation</NavLink>
    <NavLink class="nav-link" href="utilisation"><i class="bi bi-play-circle"></i> Utilisation</NavLink>
    <NavLink class="nav-link" href="fonctionnalites"><i class="bi bi-stars"></i> Fonctionnalités</NavLink>
</nav>
